body {
    padding: 0;
    margin: 0;
}
  
#mapid{
  height: 450px;
  width: 900px;
}

.labelStyle {
  color: #000;
  font-size:12px;
  font-weight: 700;
  background-color: none;
  border-color: none;
  background: none;
  border: none;
  box-shadow: none;
  margin: 0px;
  cursor: none;
  direction: 'center';
  fill: false;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 12px;
  color: #555;
  opacity: 0.8;
}

.legend i {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  background-color: antiquewhite;
}